<%= form_for(reservation) do |f| %>
    <% if reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

          <ul>
            <% reservation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :start_date %>
      <%= f.date_select :start_date %>
    </div>

    <div class="field">
      <%= f.label :finish_date %>
      <%= f.date_select :finish_date %>
    </div>

    <div class="field">
      <%= f.label :changed_count_of_person %>
      <%= f.number_field :changed_count_of_person %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :room_id %>
      <%= f.select :room_id, @rooms %>
    </div>

    <% if user_signed_in? %>
    <div class="field">
      <%= f.label :status %>
      <%= f.select :status, Reservation::STATUS_MAP.keys %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
