<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>Finish date</th>
      <th>Proper price</th>
      <th>Changed price</th>
      <th>Changed count of person</th>
      <th>User</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.finish_date %></td>
        <td><%= reservation.proper_price %></td>
        <td><%= reservation.changed_price %></td>
        <td><%= reservation.changed_count_of_person %></td>
        <td><%= reservation.user %></td>
        <td><%= reservation.room %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
