<%= form_for(room) do |f| %>
    <% if room.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

          <ul>
            <% room.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :count_of_person %>
      <%= f.text_field :count_of_person %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>

    <div class="field">
      <%= f.label :bathroom %>
      <%= f.select :bathroom, @bathroom_types %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :room_properties %>
      <%= f.select(:room_properties, options_for_select(@all_room_properties), {}, {multiple: true, size: 10}) %>
    </div>

    <div class="field">
      <%= f.label :type_of_rooms %>
      <%= f.select(:type_of_rooms, @all_room_types, {}, {multiple: true, size: 10}) %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
