<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Count of person:</strong>
  <%= @room.count_of_person %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Bathroom:</strong>
  <span><%= @bathroom %></span>
</p>

<p>
  <strong>Room properties:</strong>
  <% @room.room_properties.each do |property| %>
      <span><%= property.name %></span>
  <% end %>
</p>

<p>
  <strong>Room types:</strong>
  <% @room.type_of_rooms.each do |type| %>
      <span><%= type.name %></span>
  <% end %>
</p>


<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %> |
<%= link_to 'Gallery', add_photos_rooms_path(@room) %>
